* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  border: 4px solid #551e53;
  border-radius: 12px;
}

@media (max-width: 576px) {
  .responsive-container {
    width: 85%;
  }
}

.app-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*
.bg-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  border: 5px solid #6d396b;
  background-color: transparent;
  border-radius: 8px;
  padding: 20px;
  width: 75%;
  flex-grow: 1;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
*/
